/.bundle
/log/*.log
/log/*.log*
*.log
/tmp
Procfile.dev
.ruby-gemset
.byebug_history
.rubocop.yml
.idea/
.vscode/
.tags
FOOTNOTES
/static
.dev
/app/assets/webpack
/node_modules
*.DS_Store
/public/assets/
/public/static/
/todo
/config/env.yml
.rbenv-vars
/npm