<h1>Widget API</h1>
<%= link_to 'Интеграция', integration_path %> |
<%= link_to 'Документация', documentation_path %> |
<%= link_to 'Виджеты', widgets_path %> |
<%= link_to 'API', api_path(format: 'js'), target: 'blank'  %>
<hr>
